*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    background-color: #EEFA;
}

div{
    margin-bottom: 3vh;
    padding: 4vh 5vw;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

input{
    padding: 5px 2.5% 5px 5%;
    background-color: rgb(245, 250, 255);
    border: 1px solid rgb(100, 175, 255);
    border-radius: 24px;
    outline: none;
}
input:focus{
    border-color:rgb(50, 125, 255);
}
input::placeholder{
    color: rgb(100, 175, 255);
}


button{
    padding: 5px 5%;
    background-color: rgb(0,100,255);
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.25s;
}
button:focus{
    background-color: rgb(0,75,225);
}

ul{
    max-width: 100%;
    padding-left: 15vw;
}

li{
    max-width: 80%;
    margin-top: 1.5vh;
    cursor: pointer;
}

.strike{
    text-decoration: line-through;
    color: rgba(0, 55, 155, 0.6);
}




@media screen and (min-width: 720px) and (orientation: landscape)
{
    div{
        margin-bottom: 8vh;
        padding: 6vh 8vw;
    }     
}

@media screen and (min-width: 720px) and (orientation: portrait)
{
    input{
        padding: 14px 14% 15px 5%;
        font-size: 2.5vh;
        
    }
    button{
        padding: 5px 6%;
        font-size: 2.3vh;
        border-radius: 7px;
        
    }
    li{
        font-size: 3vh;   
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape)
{
    input{
        padding: 10px 20% 10px 5%;
        font-size: 2.5vh;
        
    }
    button{
        padding: 5px 4%;
        font-size: 2.3vh;
        border-radius: 7px;
        
    } 
    li{
        font-size: 3.2vh;   
    }
}

@media screen and (min-width: 1366px)
{
    div{
        padding: 4vh 45vw 3vh 2vw;
    }

    input{
         padding: 6px 10% 7px 2%;
        font-size: 2vh;
            
        }
    button{
            padding: 5px 2%;
            font-size: 2vh;
            border-radius: 7px;
            
        } 
        button:hover{
            background-color: rgb(0,75,225);
            border-radius: 24px;
        }
        li{
            font-size: 2.5vh;   
        }
        
}







